@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .sidebar {
    z-index: 99999 !important;
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1E2E58;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1A284B;
  }

  .about-zenGames {
    height: inherit;
  }
}

.home-slider {
  height: 250px;
}

.homepage-games {
  width: 300px;
  height: 190px;
}

@media (min-width: 425px) and (max-width: 655px) {
  .homepage-games {
    width: 180px;
    height: 120px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .homepage-games {
    width: 160px;
    height: 100px;
  }

  .home-slider {
    height: 200px;
  }
}

@media (min-width: 300px) and (max-width: 375px) {
  .homepage-games {
    width: 135px;
    height: 80px;
  }

  .home-slider {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 3200px) {
  .game-thumbnail {
    height: 600Px !important;
    width: 100% !important;
  }
}

@media (min-width: 435px) and (max-width: 768px) {
  .game-thumbnail {
    height: 450Px !important;
    width: 100% !important;
  }
}

@media (min-width: 300px) and (max-width: 435px) {
  .game-thumbnail {
    height: 250Px !important;
    width: 100% !important;
  }
}

